:root {
    --blue: hsl(179, 62%, 43%);
    --yellow: hsl(71, 73%, 54%);
    --lightgrey: hsl(204, 43%, 93%);
    --greyishblue: hsl(218, 22%, 67%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 20px;
    overflow-y: auto;
}

.grid {
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    overflow: hidden;
    width: 100vw;
    max-width: 800px;
}

.content {
    grid-column: span 2;
    padding: 40px;
    background-color: white;
}

.content h1 {
    color: var(--blue);
    margin-bottom: 20px;
}

.content h3 {
    color: var(--yellow);
    margin-bottom: 10px;
}

.content p {
    color: var(--greyishblue);
}

.subscription {
    background-color: hsl(179, 62%, 35%);
    padding: 20px;
    padding-left: 40px;
}

.subs {
    margin-bottom: 15px;
}

.subscription h3 {
    color: var(--lightgrey);
}

.price {
    display: flex;
    align-items: center;
    color: var(--lightgrey);
    margin-bottom: 5px;
}

.price span {
    font-size: 32px;
    color: var(--lightgrey);
}

.subscription p {
    color: var(--lightgrey);
}

button {
    display: flex;
    justify-content: center;
    width: 210px;
    padding: 8px;
    border-radius: 10px;
    border-style: none;
    color: var(--lightgrey);
    background-color: var(--yellow);
    margin-top: 25px;
}


.about {
    background-color: var(--blue);
    color: var(--lightgrey);
    padding: 20px;
    padding-left: 40px;
}

.about h2 {
    margin-bottom: 20px;
}

.content p,
.about p,
.subscription p {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .content {
    grid-column: span 1;
    padding: 20px;
    padding-left: 40px;
  }
}